$color1:#323C46; 
$color2:#CCCCCC;
$color3:#F5B224;
$color4:#FAFAFA;
$color5:#FED700;
$color6:#323C46;
$color-pro1:#F86F6F; 
$color-pro2:#6F5B92;
$color-pro3:#AEA3C2;


$font14:14px;
$font15:15px;
$font16:16px;
$font19:19px;
$font18:18px;
$font20:20px;
$font21:21px;
$font22:22px;
$font24:24px;
$font28:28px;
$font45:45px;

$br:4px;